<!DOCTYPE html>
<html lang="en">

  <head>
    <title> {{title}} </title>
  
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    {% endblock meta %}
  
    {% block bootstrap_css %}
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/css/bootstrap-responsive.min.css" rel="stylesheet">
    {% endblock bootstrap_css %}

    {% block replaceable_css %}
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
        rel="stylesheet">
    <link href="/lib/css/font-awesome.css" rel="stylesheet">
    <link href="/lib/css/style.css" rel="stylesheet">
    <link href="/lib/css/pages/dashboard.css" rel="stylesheet">
    {% endblock replaceable_css %}

  </head>

  <body>

  {% block navbar %}

  {% endblock navbar %}

  {% block content %}

  {% endblock content %}

  <footer>
  {% block footer %}

  {% endblock footer %}
  </footer>

  </body>
</html>