<!DOCTYPE html>
<html lang="en">

  <head>
    <title> {{title}} </title>
  
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    {% endblock meta %}
  
    {% block bootstrap_css %}
    <link href="/lib/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/css/bootstrap-responsive.min.css" rel="stylesheet">
    {% endblock bootstrap_css %}

    {% block replaceable_css %}
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
        rel="stylesheet">
    <link href="/lib/css/font-awesome.css" rel="stylesheet">
    <link href="/lib/css/style.css" rel="stylesheet">
    <link href="/lib/css/pages/dashboard.css" rel="stylesheet">
    {% endblock replaceable_css %}

  </head>

  <body>

  {% block navbar %}
  <!-- TOP DASHBOARD -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a class="brand" href="/admin/tools">SSS Admin Dashboard</a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> administrator {{logged_user}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="javascript:;">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /navbar-inner --> 


<!-- TOP ICONS and Buttons -->
<!-- /navbar -->
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        {% block active %}
        <li ><a href="/admin/dash"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
        <li ><a href="/admin/events"><i class="icon-calendar"></i><span>Events</span> </a> </li>
        <li ><a href="/admin/members"><i class="icon-user"></i><span>Members</span> </a></li>
        {% endblock active %}
      </ul>
    </div>
    <!-- /container --> 
  </div>
  <!-- /subnavbar-inner --> 
</div>

  {% endblock navbar %}

  {% block content %}

  {% endblock content %}

  <footer>
  {% block footer %}

  {% endblock footer %}
  </footer>

  {% block bootstrap_js %}
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/lib/js/bootstrap.min.js"></script>
  <script src="/lib/js/base.js"></script>
  {% endblock bootstrap_js %}

  </body>
</html>