{% extends "base.html" %}
      {% block active %}
        <li ><a href="/admin/dash"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
        <li ><a href="/admin/events"><i class="icon-calendar"></i><span>Events</span> </a> </li>
        <li class="active"><a href="/admin/members"><i class="icon-user"></i><span>Members</span> </a></li>
        {% endblock active %}

{% block content %}
<!-- /subnavbar -->
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">



          <!-- Table -->
          <!-- /widget -->
          <div id="members" class="widget widget-table action-table">
            <div class="widget-header"> <i class="icon-th-list"></i>
              <h3>Members</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <table class="table table-striped table-bordered">
                <thead>
                <th>Name</th>
                <th>PID</th>
                <th>Major</th>
                <th>Number</th>
                <th>Year</th>
                <th>Email</th>
                </thead>
                <tbody>
                {% autoescape false %}
                  {{ members }}
                {% endautoescape %}
              
              <!-- FILL IN HERE -->

              
                </tbody>
              </table>
            </div>

            <!-- /widget-content --> 
          </div>
          <!-- /widget -->
        </div>
        <!-- /span6 --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>


<!-- Real Footer -->


</div>


{% endblock content %}
